<!doctype html>
<html lang="en-us">
    <!--<![endif]-->
    <head>
        <html lang="en" class="no-js">
        <meta charset="utf-8">
        <meta charset="utf-8">
    <title>Fazele Kimiaee CV</title>
    <meta name="description" content="">
    <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>fazele kimiaee CV/Resume/Vcard/Portfolio by Hencework.</title>
        <meta name="description" content="Fazele Kimiaee CV / Resume / Vcard / Portfolio HTML5 template by hencework." />
        <meta name="keywords" content="Fazele Kimiaee, resume, responsive template, cv, multipurpose, portfolio, html5 template, themeforest.net, bootstrap, html5, creative, landing page, sass, clean, design, modern, angular js," />
        <meta name="author" content="hencework"/>

        <link rel="shortcut icon" href="favicon.ico">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!--Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700 type='text/css'">
        <link rel="stylesheet" href="css/documenter_style.css" media="all">

        <link rel="stylesheet" href="css/default.css">
     <link rel="stylesheet" href="css/layout.css">
     <link rel="stylesheet" href="css/media-queries.css">
     <link rel="stylesheet" href="css/magnific-popup.css">

     <link rel="shortcut icon" href="favicon.png" >

       </style>


        <style>

            html{background-color:#999999;color:#111111;}
            ::-moz-selection{background:#444444;color:#DDDDDD;}
            ::selection{background:#444444;color:#DDDDDD;}
            #documenter_sidebar #documenter_logo{background-image:url(assets/images/logo.png);}
            a{color:#444;}
            hr{border-top:1px solid #EBEBEB;border-bottom:1px solid #999999;}
            #documenter_sidebar, #documenter_sidebar ol a{background-color:#444;color:#999;}
            #documenter_sidebar ol a{}
            #documenter_sidebar ol{border:none;}
            #documenter_sidebar ol a{border:none;color:#999;}
            #documenter_sidebar ol a:hover{background:#666 color:#999;}
            #documenter_sidebar ol a.current{background:#666 ;color:#999;}
            #documenter_copyright{display:block !important;visibility:visible !important;}


   </style>


        </body>
        <html>
        <head>

            <html>
             <head>
              <style type="text/css">

                 body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
                  margin: 0; padding: 0; border: 0;

                <style type="text/css">
                .onvan{
                text-align:center;
                line-height:13;
                color:#FFFFFF;
                background-image:url()

              width:212px;
              height:200px;
                }
            </style>

            <body>
            <div class="onvan">
                <img style="margin-bottom:-650px;" src= "9.jpg" height="800" width="1360" alt="" /></a></a>


                  <h1><b> I'm Fazele Kimiaee.</h1></b>
                   <p style="line-height:2em">
                   <span>Contact Details</span><br/>
                    <span>(+98) 921-577-4538</span><br/>
                     <span>kimiaee77@yahoo.com</span> <br/>
                     <span>fazelehkimiaee@gmial.com</span><br/>
                </p>



                    </style>

                     </div>
                     <div/>
            </div>
            </body>
            </html>

            </body>

            </html>

            <html>
                <head>

                <style type="text/css">
                .onvan{
                text-align:center;
                line-height: 13;
                color:#FFFFFF;
                background-image:url(''
                ');
                width:212px;
                height:200px;
                }
                </style>

                </head>
                <body>
                </body>
                </html>

                       <ul id="notop" class="notop">
                     </section>

                       <section id="ABOUT">
                        <center>   <section id="ABOUT"> <p style="background-color: white;">   <font size=7"></br> <b><i><u>About me</u></i></b> </br>  </font> </br> </br>
                       <font size=5">   My surname is Kimiaee and my first name is Fazele. I was born on 9th of April 1996 in Mashhad - Iran and single. </br>
                                        My friends know me as a patient and determined person. </br>
                                        I have a bachelor's degree in computer science and a master's degree in software engineering and I am interested in learning more..</br></font>

                         </br>    </br>
                         </p>



                      </center>

                      </div>


                          	</section>
                    <section id="Awesome works done by me">

                     <ul id="notop" class="notop">
                      </br></br>
                      <font size=5">  <h1 class="responsive-headline">&nbsp;&nbsp;&nbsp;&nbsp;<i>Awesome works done by my</i> </h1></br></br></font>
                     <ul id="notop" class="notop">

                         <section id="Awesome works done by me">
                              <div style="margin-left:70px;">

                         <h1><a style="display:none;" href="https://www.codebazan.ir/">&#1705;&#1583;&#1576;&#1575;&#1586;&#1575;&#1606;</a></h1>
                        <table>
                            <td>
                            <img src="1.jpg" width="150" height="100" alt=""></a>
                              <p> <b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <i><u>Music</u></i> </b>

                                    </p>
                        <td>

                        <td>
                        <img src="3.jpg" width="150" height="100" alt=""></a>
                          <p> <b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i><u>Reading</u></i>  </b>

                                        </p>
                            <td>
                            <td>
                            <img src="2.jpg" width="150" height="100" alt=""></a>
                             <p> <b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i><u>Photography</u></i>  </b>


                                        </p>
                            <td>
                           <img src="4.jpg" width="150" height="100" alt=""></a>
                            <p> <b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <i><u>Sports</u></i> </b>

                                        </p>
                            <td>
                            </td>
                            </td>
                            </td>
                            </table>
                              </div>
                                       </br></br> <hr class="notop">   </br> </br>

                 </ul>

                	</section>
                <section id="Education">
                 <ul id="notop" class="notop">
                      <font size=5">  <h1 class="responsive-headline"><b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Education</i></h1></b>
                         </font>


                                   <div style="margin-right:450px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;<img src= "12.jpg" align="middle" " width= "80" height="85"   alt=""></a>

                          <div>

                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *&nbsp;*&nbsp; Master of software Engineering Student </br>
                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Payame Noor University of Tehran - Iran ,
                                   2019
                               </p>

                                 <div style="margin-right:700px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;<img src=  "10.png" width= "80" height="85" align="middle"  alt=""></a>

                                </div>
                                  <font size=4">   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *&nbsp;*&nbsp; Bachelor of Computer Science</br>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Semnan University - Iran </br>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2014 - 2018 </br>
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;average: 17.14

                               </div>

                                </div>
                                  <font size=4">   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *&nbsp;*&nbsp; Diploma in Mathematics Physics</Br>
                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Farhikhtegan High School , Iran - Mashhad</br>
                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;average: 18.57

                         </div>

                         </div>
                          </p>
                          </font>



                    </p>
                       </br>  </br>	<hr class="notop">    </br>



                        </section>

                        <section id="Skills">
                        <ul id="notop" class="notop">
                          <font size=5"> <h1 class="responsive-headline"><b><span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Skills</i></h1></b></span></font>  </br>



                     <ul class="skills">
                         <div style="margin-left:40px;">
                              <p style="line-height:2em">
                         <span class="bar-expand html5"></span><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Microsoft Office </em></li> </br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="bar-expand css"></span><em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Adobe Photoshop</em></li></br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="bar-expand css"></span><em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;AutoCAD</em></li> </br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="bar-expand css"></span><em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;3d max</em></li> </br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="bar-expand html5"></span><em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;MATLAB</em></li></br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="bar-expand html5"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Forex , Metatrader </em></li> </br>
                        <span class="bar-expand html5"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Social Networks </em></li> </br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="bar-expand photoshop"></span><em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;C , C++ , C#</em></li> </br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="bar-expand html5"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;html , css </em></li> </br>
                           </div>
                           </p>


                      </br>  <hr class="notop"/>  </br>

                </section>

                <section id="Xperience">
                <ul id="notop" class="notop">
                     <div style="margin-left:40px;">
                              <p style="line-height:2em">
                 <font size=6">  <h1 class="responsive-headline"><b><span>&nbsp;&nbsp;&nbsp;<i>Xperience</i> </h1></b></span> </br>
                <font size=4">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In the software Engineering field, im still learning and educating  </br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; but i have some experiences in preparation of data bases of some restaurants, shopping malls and ... .</br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; also printing sales factor is one of the things that im capable of doing.
                <font/>
                </div>
                </p>

                   </br>    <hr class="notop"/>  </br>


                   <ul id="notop" class="notop">
                       <font size=6" <h1 class="responsive-headline"><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Language Skills</i></b></h1> </br> </br>
                       </font>



                     <ul class="skills">
                         <div style="margin-left:40px;">
                              <p style="line-height:2em">
                            <font size=5"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* &nbsp;<b>farsi(Mother tongue)</b></li> </br>
                                          <font size=4">  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reading skills:Very good  </br>
                                                          &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Writing skills : Very good  </br>
                                                           &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Speaking skills : Very good  </br>
                                                            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Listening skills: Very good  </br> </br>
                          <font size=5">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* &nbsp;<b>English</b></li> </br>
                            <font size=4">  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reading skills: Good  </br>
                                                          &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Writing skills : Good  </br>
                                                           &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Speaking skills : Good  </br>
                                                            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Listening skills: Good  </br> </br>

                          <font size=5">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* &nbsp;<b>Turkish</b></li> </br>
                            <font size=4">  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reading skills:Good  </br>
                                                          &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Writing skills : Good  </br>
                                                           &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Speaking skills :  Very good </br>
                                                            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Listening skills: Very good
                           </div>
                     </p>
                     </ul>
                      </br>    <hr class="notop"/>  </br>



                     </section>

                </section>

                <section id="Xperience">
                <ul id="notop" class="notop">
                     <div style="margin-left:40px;">
                              <p style="line-height:2em">
                 <font size=6">  <h1 class="responsive-headline"><b><span>&nbsp;&nbsp;&nbsp;<i>Courses and certificates</i> </h1></b></span> </br>
                <font size=4">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* &nbsp;* &nbsp; <b>ICDL Seven Skills</b>  </br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Technical and professional center&nbsp;, Mashhad - Iran  </br>
                <font/>
                </div>
                </p>

                   </br>    <hr class="notop"/>  </br>
                <ul id="notop" class="notop">
                     <font size=6" <h1 class="responsive-headline"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i></i><i>Contact Details</i></b></h1></br>    </br>
                </font>
                <div style="margin-left:100px;">
                              &nbsp;&nbsp;&nbsp;&nbsp;<img src= "IMG_0972 (2).JPG" width= "180" height="180"align="left"    alt=""></a>
                             </div>

                  <center> <p style="line-height:2em">
                          <span>Fazele Kimiaee</span><br/>
                           <span>Born In 1996</span><br/>
                          <span>Mashhad - Iran</span><br/>
                         <span>Phone : (+98) 921-577-4538</span><br/>
                       <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email : kimiaee77@yahoo.com</span> <br/>
                       <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fazelehkimiaee@gmial.com</span><br/><br/> <br/>

<p style="text-align: left">     <font size=6" <h1 class="responsive-headline"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; links</b></h1></br>
    </br>
                            <style>

                                /* حالت عادی لینک */
                                a:link <
                                    font-family: Tahoma, Geneva, sans-serif;
                                    font-size: 12px;
                                    color: #06C;
                                    text-decoration: dotted underline #C110D9;
                                >
                                /* حالت لینک دیده شده */
                                a:visited {
                                    color: #C30;
                                }
                                /* حالت لینک فعال */
                                a:hover {
                                    color: #008CC7;
                                    text-decoration: overline underline #4910D3;
                                }

                                </style>

                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a href="https://github.com/fazele-kimiaee"target="_blank" > My page in GateHub   </a></br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a href="https://quera.ir/profile/fazelehkimiaee"target="_blank">My page on the Quera website</a></br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a href="https://github.com/fazele-kimiaee"target="_blank">Evaluation form</a></br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a href="index-farsi.html">Farsi version of resume</a>

    </p>
                      </br>   </br>  <hr class="notop"/>  </br>

                 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                 <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
                 <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>


                 <script src="js/jquery.flexslider.js"></script>
                 <script src="js/waypoints.js"></script>
                 <script src="js/jquery.fittext.js"></script>
                 <script src="js/magnific-popup.js"></script>
                 <script src="js/init.js"></script>


                 </body>


                 </html>


                </section>
                 <center>
                   <ul id="notop" class="notop">
                     <font size=5" <h1 class="responsive-headline"><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i></i><i>Contact Form</i></b></h1></br>    </br>
                </font>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <h4 class="mb-10 font-unsetcase"> <i><u><span></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hey There, happy to hear from you.</u></i></h4> </br><br>
                     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input autocomplete="off" data-ng-model="formData.inputName" class="mdl-textfield__input" type="text" id="inputName" name="inputName" required>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label class="mdl-textfield__label" for="inputName">name*</label>
                      </div> </br>  </br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <input autocomplete="off" data-ng-model="formData.inputEmail" class="mdl-textfield__input" type="email" id="inputEmail" name="inputEmail" required>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label class="mdl-textfield__label" for="inputEmail">email*</label>
                           </div>  </br>  </br>

                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <div class="form-group" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <textarea
                                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  data-ng-model="formData.inputMessage"
                                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   class="mdl-textfield__input"  rows="3" id="inputMessage" name="inputMessage" required></textarea>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label class="mdl-textfield__label" for="inputMessage"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;message*</label>
                                                </div>
                                            </div>
                                              <div class="form-group">
                                                <div class="align-center">
                                                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  bg-blue font-white" data-ng-disabled="submitButtonDisabled">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; submit

                                                 </button>
                                                </div>
                                            </div>
                                        </form>
                                         </br>  </br>
                                        <hr/>
                                        </br>
                                            <p style="text-align: left">  <font size=6" <h1 class="responsive-headline"><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i></i><i>I'm in this address</i></b></h1></br>    </br>
                                                </p>  <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2925.7275044554967!2d59.49676082123586!3d36.32362463598136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3f6c8d6102c327e3%3A0xd60643c48b17fbe6!2z2YfZgdiqINiq24zYsSA12IwgUmF6YXZpIEtob3Jhc2FuIFByb3ZpbmNlLCBNYXNoaGFkLCBLdXktZS1BYi1vLUJhcnEsIElyYW4!3m2!1d36.3248013!2d59.498132!5e1!3m2!1sen!2s!4v1598195544741!5m2!1sen!2s" width="900" height="700" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


                    <pre class="brush: html">
                        <!--Contact Sec-->
                        <section id="contact_sec" class="contact-sec sec-pad-top-sm">


                            <div class="row">
                                <div id="form_card_height" class="col-sm-7 mb-30">
                                    <div  class="mdl-card mdl-shadow--2dp" data-ng-controller="ContactController">
                                        <form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class=" form-horizontal mb-30" role="form">
                                            <div class="form-group" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">

                                            </div>
                                            <div class="form-group" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                </div>
                                            </div>
                                                </div>
                                            </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-sm-5 mb-30">
                                    <div class="mdl-card mdl-shadow--2dp pa-0">
                                        <div id="map_canvas"></div>
                                    </div>
                                </div>
                            </div>
                        </section>

                </section>

            </div>
        </body>
    </html>

