<!doctype html>
<html lang="en-us">
    <!--<![endif]-->
    <head>

                <html dir="rtl" lang="fa">
                     <head>
                        <meta charset="utf-8">
                        <title></title>
                     </head>
                     <body>
                        <p></p>


                     </body>
                </html>
        <html lang="en" class="no-js">
        <meta charset="utf-8">
        <meta charset="utf-8">

    <title>Fazele Kimiaee CV</title>
    <meta name="description" content="">
    <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>fazele kimiaee CV/Resume/Vcard/Portfolio by Hencework.</title>
        <meta name="description" content="Fazele Kimiaee CV / Resume / Vcard / Portfolio HTML5 template by hencework." />
        <meta name="keywords" content="Fazele Kimiaee, resume, responsive template, cv, multipurpose, portfolio, html5 template, themeforest.net, bootstrap, html5, creative, landing page, sass, clean, design, modern, angular js," />
        <meta name="author" content="hencework"/>

        <link rel="shortcut icon" href="favicon.ico">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!--Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700 type='text/css'">
        <link rel="stylesheet" href="css/documenter_style.css" media="all">

        <link rel="stylesheet" href="css/default.css">
     <link rel="stylesheet" href="css/layout.css">
     <link rel="stylesheet" href="css/media-queries.css">
     <link rel="stylesheet" href="css/magnific-popup.css">

     <link rel="shortcut icon" href="favicon.png" >

       </style>


        <style>

            html{background-color:#999999;color:#111111;}
            ::-moz-selection{background:#444444;color:#DDDDDD;}
            ::selection{background:#444444;color:#DDDDDD;}
            #documenter_sidebar #documenter_logo{background-image:url(assets/images/logo.png);}
            a{color:#444;}
            hr{border-top:1px solid #EBEBEB;border-bottom:1px solid #999999;}
            #documenter_sidebar, #documenter_sidebar ol a{background-color:#444;color:#999;}
            #documenter_sidebar ol a{}
            #documenter_sidebar ol{border:none;}
            #documenter_sidebar ol a{border:none;color:#999;}
            #documenter_sidebar ol a:hover{background:#666 color:#999;}
            #documenter_sidebar ol a.current{background:#666 ;color:#999;}
            #documenter_copyright{display:block !important;visibility:visible !important;}


   </style>


        </body>
        <html>
        <head>

            <html>
             <head>
              <style type="text/css">

                 body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
                  margin: 0; padding: 0; border: 0;

                <style type="text/css">
                .onvan{
                text-align:center;
                line-height:13;
                color:#FFFFFF;
                background-image:url()

              width:212px;
              height:200px;
                }
            </style>

            <body>


            <div class="onvan">
                <img style="margin-bottom:-650px;" src= "9.jpg" height="800" width="1360" alt="" /></a></a>


                  <h1><b>فاضله کیمیایی هستم.</h1></b>
                   <p style="line-height:2em">
                  <font face='B Nazanin'> <span>تماس با من:</span><br/>
                    <span>4538-577-0921</span><br/>
                     <span>kimiaee77@yahoo.com</span> <br/>
                     <span>fazelehkimiaee@gmial.com</span><br/>
                </p>



                    </style>

                     </div>
                     <div/>
            </div>
            </body>
            </html>

            </body>

            </html>

            <html>
                <head>

                <style type="text/css">
                .onvan{
                text-align:center;
                line-height: 13;
                color:#FFFFFF;
                background-image:url(''
                ');
                width:212px;
                height:200px;
                }
                </style>

                </head>
                <body>
                </body>
                </html>

                      <ul id="notop" class="notop">
                         <p style = " direction: rtl   ;" >
                     </section>
                     <h1 class="responsive-headline">
                         <center>   <section id="ABOUT"> <p style="background-color:white;"> </br>   <font size=6"> <i>درباره من:</i>

                        <center> <font face='B Nazanin'>   <section id="ABOUT"> <p style="background-color: white;">   <font size=4"> من فاضله کیمیایی متولد 1375 در مشهد و مجرد هستم.</br>
                                                                                                                                               <font face='B Nazanin'>  دوستانم من را  به عنوان فرد صبور و با اراده می شناسند. </br>
                                                                                                                                             <font face='B Nazanin'>   من دارای مدرک کارشناسی علوم کامپیوتر و دانشجو ارشد مهندسی نرم افزار هستم و علاقه مند به یادگیری بیشتر در این زمینه می باشم . </br> </br>
                                                 </p>


                          	</section>
                    <section id="Awesome works done by me">

                     <ul id="notop" class="notop">
                     </br>    </br>
                     <p dir="rtl" <h1 class="responsive-headline"><p style="text-align: right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font size=6">کارهایی که انجام دادم</p> </h1></br> </font>
                     <ul id="notop" class="notop">

                         <section id="Awesome works done by me">
                              <div style="margin-left:70px;">


                     </p>


                         <h1><a style="display:none;" href="https://www.codebazan.ir/">&#1705;&#1583;&#1576;&#1575;&#1586;&#1575;&#1606;</a></h1>

                          <div style="margin-right:80px;">
                        <table>
                            <td>
                            <img src="1.jpg" width="150" height="100" alt=""></a>
                              <p> <b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  موسیقی </b>

                                    </p>
                        <td>

                        <td>
                        <img src="3.jpg" width="150" height="100" alt=""></a>
                          <p> <b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; مطالعه  </b>

                                        </p>
                            <td>
                            <td>
                            <img src="2.jpg" width="150" height="100" alt=""></a>
                             <p> <b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  عکاسی  </b>


                                        </p>
                            <td>
                           <img src="4.jpg" width="150" height="100" alt=""></a>
                            <p> <b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; ورزش </b>

                                        </p>
                            <td>
                            </td>
                            </td>
                            </td>
                            </table>
                           </div>
                              </div>
                                       </br></br> <hr class="notop">   </br> </br>

                 </ul>

                	</section>
                <section id="Education">
                 <ul id="notop" class="notop">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font size=6"> <b>سوابق تحصیلی</b></p> </h1></br></br> </font>
                         </font>
                         <div style="margin-Left:200px;">
                                    <img src= "12.jpg"align="Left" " width= "100" height="110"   alt=""></a>
                              </div>

                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size=5">*&nbsp;*&nbsp; دانشجو کارشناسی ارشد مهندسی کامپیوتر- نرم افزار</br>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  دانشگاه پیام نور تهران</br>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ورودی:1398
                                     </p>
                               </p>
                            </br>
                                <div style="margin-Left:200px;">
                                    <img src= "10.png"align="Left" "  width= "100" height="110"    alt=""></a>
                              </div>
                              <font size=5"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;*&nbsp;کارشناسی علوم کامپیوتر   </br>
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   دانشگاه سمنان </br>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1393-1396</br>
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;معدل:17.14</br> </br>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font size=5">*&nbsp;*&nbsp;دیپلم ریاضی- فیزیک   </br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  دبیرستان فرهیختگان- مشهد </br>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; معدل:18.57 </br>


                         </div>

                         </div>
                          </p>
                          </font>



                    </p>
                       </br>  </br>	<hr class="notop">    </br>



                </section>

                <section id="Skills">
                <ul id="notop" class="notop">
                <h1 class="responsive-headline"><b><span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; مهارت ها</h1></b></span>  </br>



                     <ul
                         <div style="margin-left:40px;">
                              <p style="line-height:2em">
                      <span class="bar-expand html5"></span><em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Microsoft Office </em></li> </br>
                <p style="text-align: right"> <span class="bar-expand html5"></span><em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Adobe Photoshop </em></li> </br>
                <p style="text-align: right"></p> <span class="bar-expand html5"></span><em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;AutoCAD </em></li> </br>
                <p style="text-align: right"></p> <span class="bar-expand html5"></span><em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;3d max </em></li> </br>
                <p style="text-align: right"></p> <span class="bar-expand html5"></span><em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;MATLAB </em></li> </br>
                <p style="text-align: right"></p> <span class="bar-expand html5"></span><em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Forex , Metatrader </em></li> </br>
                <p style="text-align: right"></p><span class="bar-expand html5"></span><em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Social Networks </em></li> </br>
                <p style="text-align: right"> </p><span class="bar-expand html5"></span><em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;#C , C++ , C</em></li> </br>
                <p style="text-align: right"></p><span class="bar-expand html5"></span><em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;html , css </em></li> </br>
                       </div>
                           </p></p>


                      </br>  <hr class="notop"/>  </br>

                </section>

                <section id="Xperience">
                <ul id="notop" class="notop">
                     <div style="margin-left:40px;">
                              <p style="line-height:2em">
                <h1 class="responsive-headline"><b><span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;تجربه ها </h1></b></span> </br>
                <font size=5">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; در زمینه مهندسی نرم افزار ، هنوز در حال یادگیری و آموزش هستم</br>

              <font size=5">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    اما من در تهیه پایگاه داده برخی از رستوران ها ، مراکز خرید و ... تجربیات زیادی دارم.</br>

             <font size=5">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  همچنین چاپ فاکتور فروش یکی از کارهایی است که من قادر به انجام آن هستم.</br>



                <font/>
                </div>
                </p>

                   </br>   </br>  <hr class="notop"/>  </br>


                   <ul id="notop" class="notop">
                       <font size=6" <h1 class="responsive-headline"><b> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;زبان</b></h1> </br> </br>
                       </font>



                     <ul class="skills">
                         <div style="margin-left:40px;">
                              <p style="line-height:2em">
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="bar-expand photoshop"></span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* &nbsp; زبان فارسی(زبان مادری)</li> </br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; مهارت خواندن: عالی</br>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;مهارت نوشتن: عالی </br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;مهارت صحبت کردن: عالی</br>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;مهارت گوش کردن: عالی</br>

                            </br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="bar-expand photoshop"></span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* &nbsp;زبان انگلیسی</li> </br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; مهارت خواندن: خوب</br>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;مهارت نوشتن: خوب </br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;مهارت صحبت کردن:خوب</br>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;مهارت گوش کردن: خوب</br>
                           </br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="bar-expand photoshop"></span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* &nbsp;زبان ترکی</li> </br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; مهارت خواندن: خوب</br>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;مهارت نوشتن: خوب </br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;مهارت صحبت کردن:عالی</br>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;مهارت گوش کردن: عالی</br>
                          </div>
                     </p>
                     </br>
                     <hr/>
                      </br>
                       <font size=6" <h1 class="responsive-headline"><b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;دوره ها و گواهینامه ها</b></h1> </br> </br></font>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; هفت گانه ICDL</br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;مرکز فنی وحرفه ایی مشهد</br>


                     </ul>
                      </br>   </br>  <hr class="notop"/>  </br>


                     </section>


                <ul id="notop" class="notop">
                     <font size=6" <h1 class="responsive-headline"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; اطلاعات تماس</b></h1></br>    </br>
                </font>
                <div style="margin-left:300px;">
                              &nbsp;&nbsp;&nbsp;&nbsp;<img src= "IMG_0972 (2).JPG" width= "180" height="180"align="left"    alt=""></a>
                             </div>

                  <p style="line-height:2em">
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>فاضله کیمیایی</span><br/>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>متولد 1375</span><br/>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>ایران- مشهد</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>تلفن :4538-577-0921</span><br/>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>پست الکترونیکی : kimiaee77@yahoo.com</span> <br/>

                       <p style="text-align: justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>fazelehkimiaee@gmial.com</span><br/></br>
                        <font size=6" <h1 class="responsive-headline"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; لینک ها</b></h1></br>    </br>




                                <style>
                                /* حالت عادی لینک */
                                a:link <
                                    font-family: Tahoma, Geneva, sans-serif;
                                    font-size: 12px;
                                    color: #06C;
                                    text-decoration: dotted underline #C110D9;
                                >
                                /* حالت لینک دیده شده */
                                a:visited {
                                    color: #C30;
                                }
                                /* حالت لینک فعال */
                                a:hover {
                                    color: #008CC7;

                                }

                                </style>
                             <font size = "5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a href="https://github.com/fazele-kimiaee"target="_blank" > صفحه من در گیت هاب   </a></br></font>
                            <font size = "5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a href="https://quera.ir/profile/fazelehkimiaee"target="_blank">صفحه من در وب سایت کوئرا</a></br></font>
                            <font size = "5"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a href="https://github.com/fazele-kimiaee"target="_blank">فرم ارزیابی</a></br> </font>
                            <font size = "5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a href="index.html">نسخه انگلیسی رزومه</a></font>





                  </div>
                    </p>


                  </p>
                      </br>   </br>  <hr class="notop"/>  </br>

                 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                 <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
                 <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>


                 <script src="js/jquery.flexslider.js"></script>
                 <script src="js/waypoints.js"></script>
                 <script src="js/jquery.fittext.js"></script>
                 <script src="js/magnific-popup.js"></script>
                 <script src="js/init.js"></script>


                 </body>


                 </html>


                </section>
                 <center>
                   <ul id="notop" class="notop">
                     <font size=6" <h1 class="responsive-headline"><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ارتباط با من</b></h1></br> </br>
                </font>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <h4 class="mb-10 font-unsetcase"> <span></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;خوشحالم که نظر شما رو می شنوم:)</h4> </br><br>
                     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input autocomplete="off" data-ng-model="formData.inputName" class="mdl-textfield__input" type="text" id="inputName" name="inputName" required>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label class="mdl-textfield__label" for="inputName">نام*</label>
                      </div> </br>  </br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <input autocomplete="off" data-ng-model="formData.inputEmail" class="mdl-textfield__input" type="email" id="inputEmail" name="inputEmail" required>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label class="mdl-textfield__label" for="inputEmail">ایمیل*</label>
                           </div>  </br>  </br>

                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <div class="form-group" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <textarea
                                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  data-ng-model="formData.inputMessage"
                                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   class="mdl-textfield__input"  rows="3" id="inputMessage" name="inputMessage" required></textarea>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label class="mdl-textfield__label" for="inputMessage"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;متن پیام*</label>
                                                </div>
                                            </div>
                                              <div class="form-group">
                                                <div class="align-center">
                                                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  bg-blue font-white" data-ng-disabled="submitButtonDisabled">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; submit
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        </br>
                                        </br>
                                        <hr/>
                                            </br>
                                            <p style="text-align: right">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font size=6" <h1 class="responsive-headline"><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i></i>من در این آدرس هستم</b></h1></br> </br>
                                        </p><iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2925.7275044554967!2d59.49676082123586!3d36.32362463598136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3f6c8d6102c327e3%3A0xd60643c48b17fbe6!2z2YfZgdiqINiq24zYsSA12IwgUmF6YXZpIEtob3Jhc2FuIFByb3ZpbmNlLCBNYXNoaGFkLCBLdXktZS1BYi1vLUJhcnEsIElyYW4!3m2!1d36.3248013!2d59.498132!5e1!3m2!1sen!2s!4v1598195544741!5m2!1sen!2s" width="900" height="700" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                    <pre class="brush: html">
                        <!--Contact Sec-->
                        <section id="contact_sec" class="contact-sec sec-pad-top-sm">


                            <div class="row">
                                <div id="form_card_height" class="col-sm-7 mb-30">
                                    <div  class="mdl-card mdl-shadow--2dp" data-ng-controller="ContactController">
                                        <form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class=" form-horizontal mb-30" role="form">
                                            <div class="form-group" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">

                                            </div>
                                            <div class="form-group" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                </div>
                                            </div>
                                                </div>
                                            </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-sm-5 mb-30">
                                    <div class="mdl-card mdl-shadow--2dp pa-0">
                                        <div id="map_canvas"></div>
                                    </div>
                                </div>
                            </div>
                        </section>

                </section>

            </div>
        </body>
    </html>

